.display {
    display: grid;
    grid-template-columns: repeat(5, 82px);
    align-items: center;
    justify-items: center;
    justify-content: center;

    list-style: none;
}

.display li {
    height: 78px;
    width: 78px;
    margin-top: 4px;

    border: 0.4em solid #4C4347;
    border-radius: 10%;
    background-color: #615458;
}

.display .edit {
    border-bottom: 0.65em solid #4C4347 !important;
}