<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/display.css">
    <link rel="stylesheet" href="../static/css/keyboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!--Fontes-->
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!--Fontes-->
    <link rel="shortcut icon" href="https://term.ooo/icon.png">
    <title>Termo Clone</title>
</head>
<body>
<h1>Vocábulo</h1>
<ul class="display"></ul>
<ul class="keyboard"></ul>
<script src="../static/js/socket.io.js"></script>
<script src='../static/js/keyboardGen.js'></script>
<script src='../static/js/main.js'></script>
<script src='../static/js/attempt.js'></script>
</body>
</html>
